.profile-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.profile-card {
  width: 80%; 
  margin: auto;
  background-color: #222; 
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.table-container {
  width: 100%; 
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
