/* HomePage.css */
html, body {
    height: 100vh;
    background-color: rgb(18, 18, 18)!important;
  }

  .App {
    text-align: center;

  }

  
.home-page {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 92vh;
    background-color: rgb(18, 18, 18);}

.home-page h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

.home-page p {
    font-size: 20px;
    color: #989191;
    margin-bottom: 30px;
}

.home-page .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-page .cta-button:hover {
    background-color: #0056b3;
}
